<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <title>Document</title>
</head>

<body>

    <input type="text" placeholder="username" name="username" id="usernameId">
    <input type="password" placeholder="password" name="password" id="passwordId">
    <button type="button" id="submitButton">submit</button>

</body>



<script src="js\signup.js"></script>
<script src="js/ajax.js"></script>
<script src="js/endpoints.js"></script>

</html>